/* Estilos gerais do body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Readex Pro', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    scroll-behavior: smooth; /* Suaviza o scroll */
}

/* Cabeçalho fixo com sombra */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Ícones de usuário e menu com tamanho fixo */
.user-icon img, .menu-icon img {
    width: 40px;
    height: 40px;
}

/* Menu de navegação com espaçamento entre links */
.nav-menu {
    display: flex;
    align-items: center;
    gap: 125px;
}

/* Links no menu com transição de cor ao passar o mouse */
.nav-menu a {
    text-decoration: none;
    color: #00aaff;
    font-weight: 350;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Dropdown principal com sombra */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    min-width: 160px;
    border-radius: 10px;
}

/* Estilos para seções da página */
.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Equipe */
#team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Grade responsiva */
    gap: 3vw;
    padding: 3vh;
    max-width: 100%;
    margin: 5%;
    justify-content: center;
    align-items: center;
}

/* Card individual de membro da equipe */
.team-member {
    background-color: #FFFFFF;
    padding: 3vh 5vw;
    border-radius: 2vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(5vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Efeito ao passar o mouse sobre o card */
.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Exibe a animação quando aparecer na tela */
.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #team {
        grid-template-columns: repeat(1, 1fr);
        padding: 10vw;
    }
}
